<main class="main">
    <div class="greeting">
        <div class="row align-items-center justify-content-center">
            <h1>
                Chceš si otestovať svoje algoritmické schopnosti?
            </h1>
        </div>
        <div class="row justify-content-center time">
            <div class="col-4">
                <h2 class="row justify-content-center">
                    Tak neváhaj a otestuj sa!
                </h2>
            </div>
        </div>
    </div>
    <div class="container experiment">
        <h3>
            Výskum
        </h3>
        <div>
            <p>
                Dokážeme hraním bludísk otestovať svoje algoritmické schopnosti? V mojej bakalárskej práci sa zaoberám možnosťami zlepšovania algoritmických schopností. V praktickej čati mojej práce budem testovať ako dobre viete vyriešiť jednotlivé bludiská, ktoré na Vás čakajú. Nezúfajte, nie je to nič náročné.
            </p>
        </div>
    </div>
    <div class="container tutorial">
        <h3>
            Ako to celé funguje?
        </h3>
        <div class="row align-items-center justify-content-between">
            <p class="col-8">
                Cieľom hry je dostať červenú guličku z ľavého horného rohu bludiska do pravého dolného. <strong>Pozor</strong>  na každú úlohu máš obmedzený čas!

            </p>

            <div class="col-2">
                <img src="/images/maze.png" alt="Picture of maze" style="width: 100px">
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-2">
                <img src="/images/sipky.png" alt="Picture of maze" style="width: 150px">
            </div>

            <p class="col-8">
                Pre začatie stlač šípku na klávesnici v smere, ktorým sa má červená gulička pohnúť. Gulička zastaví vždy, keď si nie je istá, ktorým smerom sa má vydať. Stlačením jednej zo šípok na klávesnici jej prikážeš ktorým smerom sa vydať.
            </p>
        </div>
        <div class="row align-items-center justify-content-between">
            <p class="col-8">
                V prípade, že už guličke zadáš smer, môžeš jej prikázať vrátiť sa stlačením <strong>medzerníka</strong>.

            </p>

            <div class="col-3">
                <img src="/images/medzernik.png" alt="Picture of maze" style="width: 250px">
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <p class="col-8">
                Testovanie pozostáva z 10 bludísk, ktoré musíš vyriešiť. Ak ti hra nevýde na prvý krát nezúfaj. Môžeš ju opakovať. Veľa šťastia!
            </p>
        </div>
    </div>
    <div class="userData">
        <div class="container">
            <h3 class="p-3">
                Vyplň krátky formulár a klikni na hraj!
            </h3>
            <form method="post" action="/user/store">
                <div class="form-group col-6">
                    <label for="email">Emailová adresa</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" name="email" id="email" required>
                </div>
                <div class="p-3">
                    <h7>Absolvovali ste alebo máte základné znalosti z nasledovných predmetov?</h7>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="PRPR" id="PRPR" name="subjects">
                        <label class="form-check-label" for="PRPR">
                            PRPR <small>(Procedurálne programovanie)</small>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="DSA" id="DSA" name="subjects">
                        <label class="form-check-label" for="DSA">
                            DSA <small>(Dátové štruktúry a algoritmy)</small>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="TEAP" id="TEAP" name="subjects">
                        <label class="form-check-label" for="TEAP">
                            TEAP <small>(Tvorba efektívnych algoritmov a programov)</small>
                        </label>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="inputState">Ako by ste ohodnotili svoje algoritmické schopnosti? <small>1 - nie som veľmi zručný/á</small></label>
                    <select id="inputState" class="form-control" name="prediction">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="p-3">
                    <button type="submit" class="btn btn-primary">Hraj!</button>
                </div>
            </form>
        </div>
    </div>

</main>